@import url('reset.css');
/*  */
.header {
  background-color: yellow;
  height: 15vh;
  position: relative;
}
.header-nav {
  position: absolute;
  top: 0;
  right: 20px;
  font-size: 17px;
}
body *, body::before, body::after {
  text-decoration: none;
  box-sizing: border-box;
  margin: 0 auto;
}
body {
  box-sizing: border-box;
}
.main {
  height: 70vh;
  display: flex;
  position: relative;
}
.main-greeting {
  position:absolute;
  background-color: tomato;
  bottom: -90px;
  right: 50%;
}
.section-1, .section-2, .section-3 {
  background-color: wheat;
  margin: 20px;
}
.a11y-hidden {
  background-color: violet;
  height: 5px;
  margin-top: 0;
  /* overflow: hidden; */
}
.polaroid {
  position: relative;
  width:350px;
  height:450px;
  padding:30px 25px;
}
.polaroid-image {
  background-color: springgreen;
  width: 300px;
  height: 300px;
}
.polaroid-form {
  background-color: slategray;
  padding-top: 15px;
  height: 80px;
  font-size: 1.3em;

}
.heart {
  position: absolute;
  top: -20px;
  right: 0;
}
.delete-button {
  position: absolute;
  top: -35px;
  right: 50%;
}
.footer {
  height: 15vh;
  background-color: teal;
}
.carousel-left {
  position: absolute;
  bottom: 50%;
}
.carousel-right {
  position: absolute;
  bottom: 50%;
  right: 0;
}