@import url('reset.css');
@import url('https://fonts.googleapis.com/css?family=Gugi:400');
/*  */
.header {
  background-color: #090909;
  height: 15vh;
  position: relative;
}


.logout {
  top: 10px;
}

.logout button{
  color: #E6E5E6;
  border:none;
  background-color: #090909;
  border-bottom: 1px solid #E6E5E6;
}

.header-logo {
  position: absolute;
  left: 23px;
  top: 23px;
  width: 60px;
  height:70px;
}

.header-logo img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header-nav {
  position: absolute;
  top: 0;
  right: 20px;
  font-size: 17px;
}
/* .header-logo img{
  width: 150px;
  height: 120px;
  object-fit: cover;
} */
body *, body::before, body::after {
  text-decoration: none;
  box-sizing: border-box;
  margin: 0 auto;
}
body {
  font-family: 'Gugi', cursive;
  font-size: 13px;
}
.main {
  background-color: #C93F60;
  height: 70vh;
  display: flex;
  position: relative;
}
.main::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  background-color: #E6E5E6;
  display: block;
  top: 5%;
  z-index: 0;

}

.main-greeting {
  position:absolute;
  color: #e7ecee;
  right: calc(50% - 158px);
  top: -12.5vh;
}
.main-greeting-hello {
  font-size: 2.5rem;
}

.input-name {
  display: block;
  font-size: 18px;
  line-height: 1.3333;
  border: none;
  color: #E6E5E6;
  border-bottom: 2px solid #E6E5E6;
  outline: none;
  background: transparent;
}

.input-name::placeholder{
  text-align: center;
  color: #E6E5E6;
}


.a11y-hidden {
  background-color: violet;
  height: 0px;
  margin-top: 0;
  overflow: hidden;
}
.polaroid-slider {
  z-index: 1;
  margin: auto;
  width: 1110px;
  height: 550px;
  overflow: hidden;
  position: relative;
}
.polaroids {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 2280px;
  transition: 0.5s ease-out;
}
.polaroid {
  float: left;
  position: relative;
  margin-right: 30px;
  padding: 30px 25px;
  border-radius: 5px;
  width:350px;
  height:450px;
  padding:30px 25px;
  background-color: #E6E5E6;
  transition: 0.5s ease-out;
}
.polaroid.active{
  transform : translateY(100%);
  transition: 0.5s ease-out;
}
.polaroid-image {
  background-color: #E69C88;
  /* background-color: #fff; */
  width: 300px;
  height: 300px;
  overflow: hidden;
}
.image-view {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.polaroid-form {
  padding-top: 15px;
  height: 90px;
  font-size: 1.3em;
  text-align: justify;
}

.polaroid-form input{
  border-radius: 5px;
  float: right;
  border: none;
  color: black;
}

.form-location {
  font-weight: 700;
  font-size: 1.5rem;
}


.heart {
  position: absolute;
  bottom: 130px;
  right: 37px;
  width: 30px;
  height:27px;
  object-fit: cover;
  z-index: 30;
}
.heart:hover{
  opacity: 0.5;
  cursor: pointer;
}
.heart.active{
  border: none;
}
.delete-button {
  position: absolute;
  top: -50px;
  right: calc(50% - 15px);
  width: 30px;
  height: 70px;
  z-index: 50;
  border: none;
  border-radius: 3px;
  background-color: #D8B270;
}
.footer {
  height: 15vh;
  width: 100%;
  background-color: #090909;
}
.footer address{
  bottom: 0px;
  margin: 0 auto;
}

.carousel-left:focus {
  outline: 0;
}

.carousel-left:hover {
  background-color: #E6E5E6;
  color: #090909;
  opacity: 0.5;
  transition: 0.3s;
  
}

.carousel-right:focus {
  outline: 0;
}

.carousel-right:hover {
  background-color: #E6E5E6;
  color: #090909;
  opacity: 0.5;
  transition: 0.3s;
  
}

.carousel-left {
  text-align: center;
  color: #e7ecee;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  bottom: 50%;
  left: 10px;
  cursor: pointer;
  outline: 0;
}




.carousel-right {
  text-align: center;
  position: absolute;
  color: #e7ecee;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  bottom: 50%;
  right: 10px;
}

@media all and (min-width: 1951px) {
  .polaroid-slider {
    width: 1870px
  }
}

@media all and (min-width: 1551px) and (max-width: 1950px) {
  .polaroid-slider {
    width: 1490px;
  }
}

@media all  and (min-width: 1251px) and (max-width: 1550px) {
  .polaroid-slider {
    width: 1110px;
  }
}

@media all and (min-width: 901px) and (max-width: 1250px) {
  .polaroid-slider {
    width: 730px;
  }
}

@media all and (max-width: 900px) {
  .polaroid-slider {
    width: 380px;
  }
}